@import url();

* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Open Sans', sans-serif;
}

body {
    background: #e3f2fd;
}

h1 {
    color: #fff;
    padding: 18px 0;
    text-align: center;
    font-size: 1.75rem;
    background: #5372f0;
}

.container {
    display: flex;
    gap: 35px;
    padding: 30px;
}

.weather-input {
width: 550px;
}